@use './fonts.scss';
@import '~bootstrap/scss/bootstrap.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    font-family: 'Regular' !important;
}

ol, ul {
    list-style-type: none;
    padding: 0;
}

.pointer {
    cursor: pointer;
}